<div class="course-progress">
  <h3 class="course-progress__title">Прогресс курса</h3>

  <div class="course-progress__ring-container">
    <svg
      class="course-progress__svg"
      viewBox="0 0 120 120"
    >
      <circle
        class="course-progress__circle-bg"
        cx="60"
        cy="60"
        r="52"
      ></circle>
    </svg>

    <div class="course-progress__value">{{ progress() }}%</div>
  </div>

  <div class="course-progress__stats">
    <span class="course-progress__stats--label">
      Просмотренные видео:
    </span>
    <span class="course-progress__stats--count">
      {{ watched() }} / {{ total() }}
    </span>
  </div>
</div>
